body{
    margin: 0;
}
.section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 0;
}

.section__newTab {
    padding: 5px;
    width: 50px;
    text-align: center;
    background-color: rgb(128, 128, 128);
}

.section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
}

.section__heading {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    margin-bottom: 0;
}

.section__description {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify
}

.section--split .section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-between;
}

h2 {
    padding-left: 15px;
}

@media (min-width: 600px) {
    .section--split .section__content {
        box-sizing: border-box;
        width: 50%;
    }
}
